<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instasafe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
        {%for category, message in messages %}
          <div style="text-align: center;
          background-color: lightgreen;">
            {{message}}
          </div>
        {%endfor%}
      {%endif%}
    {%endwith%}

    <h1>Instasafe</h1>

    <div>
      <form class="usernames-form" action="" method="post">
        {{form.hidden_tag()}}
        <div class="form-group">
          {{form.username_list.label}}<br/>
          {{form.username_list(class_="form-control")}}
        </div>
          {{form.submit(class_="btn btn-primary")}}
      </form>
    </div>

    <div>
      {%for user_image_data in output["image_classifier_output"] %}
        <p>{{ user_image_data }}</p>
      {% endfor %}

      <hr>
      
      {%for user_nlp_data in output["language_processor_output"] %}
        <p>{{ user_nlp_data[1] }}</p>
      {% endfor %}
    </div>

    <style>
      :root {
        text-align: center
      }  

      .usernames-form {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
    </style>
  </body>
</html>
