<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
        {%for category, message in messages %}
          <div style="text-align: center;
          background-color: lightgreen;">
            {{message}}
          </div>
        {%endfor%}
      {%endif%}
    {%endwith%}

    <h1>Instasafe</h1>

    <div>
      <form class="usernames-form" action="" method="post">
        {{form.hidden_tag()}}
        <div>
          {{form.username_list.label}}<br/>
          {{form.username_list}}
        </div>
        <div>
          {{form.submit}}
        </div>
      </form>
    </div>

    <style>
      :root {
        text-align: center
      }
    </style>
  </body>
</html>
